.venv/

/.quarto/
**/*.quarto_ipynb

hello_riemann
hello_simpson
hello_trapezoidal
hello_rk4
MPI_Examples/bubble
MPI_Examples/mpi_hello
MPI_Examples/mpi_many_msgs
MPI_Examples/mpi_mat_vect_mult
MPI_Examples/mpi_mat_vect_time
MPI_Examples/mpi_odd_even
MPI_Examples/mpi_output
MPI_Examples/mpi_trap1
MPI_Examples/mpi_trap2
MPI_Examples/mpi_trap3
MPI_Examples/mpi_trap4
MPI_Examples/mpi_vector_add
MPI_Examples/odd_even
MPI_Examples/simple_function_mpi_trap
MPI_Examples/testex4
MPI_Examples/trap
MPI_Examples/vector_add
